body, html{
    margin: 0px;
    padding: 0px;
}


.container{
    width: 100%;
    height: 864px;
    /* background-color: red; */
}

.image{
    width: 150px;
    height: 60px;
    /* background-color: red; */
    margin-top: 5px;
    margin-left: 20px;
}

.rightimage{
    width: 180px;
    height: 30px;
    margin-left: 100px;

}

.header{
    position: sticky;
top: 0px;
z-index: 1;
width: 1020px;
    height: 102px;
    background-color: white;
}

.headerflex{
    width: 1020px;
    height: 100px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hd{
    width: 600px;
    height: 100px;
    /* background-color: blue; */
}

.line{
width: 1020px;
height: 2px;
background-color: #000000;




}

.body{

/* background-color: aqua; */
border-color: antiquewhite;
width: 1020px;
height: 650px;
display: flex;
justify-content: space-around;
}

.left{
    background-color: white;
    width: 320px;
    height: 500px;
    margin-top: 20px;
}

.wrong{
    color: red;
    text-decoration: solid;
}

.leftflex{
    /* background-color: red; */
    width: 280px;
    height: 32px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.leftflex1{
    font-family: helvetica, arial;
    font-style: normal;
    font-size: 22px;
    line-height: 31px;
    font-weight: 700;
    color: rgb(0, 120, 160);

}

.leftflex2{
    font-family: helvetica, arial;
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(0, 120, 160);
    margin-top: 7px;
}

input{
    width: 260px;
    height: 35px;
    border-color: red ;
    margin-right: 15px;
    
    
    
    
    

}
::placeholder{
    font-family: helvetica, arial;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color:#838383;
    /* margin-top: 7px; */
    /* padding-right: 3px; */
    /* padding: 10px; */
    
    
}
.keep{
    color: #3F73A0;
    font-family: helvetica, arial;
    /* font-style: italic; */
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.checking{
    width: 12px;
     height: 12px;
      border-color: red;
}

.line4{
    width: 320px;
    height: 1.2px;
    background-color: rgb(255, 0, 0) ;
    color: rgb(255, 0, 0);
}

button{
    width: 120px;
    height: 30px;
    background-color: #E94F44;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: helvetica, arial;
    font-style: italic;
    font-size: 22px;
    line-height: 25px;
    font-weight: 900;
    text-decoration: solid 2px;
   
    

}

.forgot{
    font-family: helvetica, arial;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(0, 120, 160);
    /* text-decoration: underline; */
}

.orl{
    display: flex;
    width: 320px;
    height: 20px;
    justify-content: space-between;
    margin-top: 3px;
}
.line2{
    margin-top: -3px;
    font-family: helvetica, arial;
    font-style: normal;
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    text-decoration: solid;
}
.or{
    font-family: helvetica, arial;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    text-decoration: solid;

}

.create{
    width: 280px;
    height: 35px;
    background-color: #F8B131;
    color: white;
    /* border: none; */
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    line-height: 23px;


}

.right{
    width: 560px;
    height: 400px;
    /* background-color: red; */
    margin-right: 50px;
    
}

.righttext1{
    color: #009700;
    font-family: helvetica, arial;
    font-size: 12px;
    font-style: normal;
line-height: 17px;
font-weight: 400;
margin-left: -10px;
margin-top: 20px;
}

.rtf{
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    margin-left: 7px;
}

.righttext2{
        color: rgb(102, 102, 102);
        font-family: helvetica, arial;
        font-size: 17px;
        font-style: normal;
    line-height: 23px;
    font-weight: 700;
    
}

.line3{
width: 545px ;
height: 2px;
background-color: #D1D1D1;
margin-right: 7px;
}

.clickflex{
    margin-top: 5px;
    width: 545px;
    height: 180px;
    /* background-color: red; */
}


.click1{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 135px;
    font-variant: normal;
}

.click2{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 142px;
    font-variant: normal;
}

.click3{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 268px;
    font-variant: normal;
}

.click4{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right:240px;
    font-variant: normal;
}

.click5{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 188px;
    font-variant: normal;
}

.flexright{
    display: flex;
    width:545 ;
    height: 30px;
    /* background-color: yellow; */
    margin-top: 10px;
    margin-left: 20px;
    justify-content: space-between;
}

.click6{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 14px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    /* text-decoration: none; */
    /* margin-right: 207px; */
    /* font-variant: normal; */
    text-decoration: underline;
}


.click7{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 15px;
    font-variant: normal;
}

.click8{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
    font-variant: normal;
}

.click9{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 30px;
    font-variant: normal;
}

.click10{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 18px;
    font-variant: normal;
}

.click11{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 16px;
        font-style: normal;
    line-height: 22px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 5px;
    font-variant: normal;
}

.box{
    width: 1000px;
    /* background-color: #009700; */
    height: 110px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
}

.footer1{
    /* background-color: red; */
    width: 300px;
    height: 110px;

}

.footer{
    /* background-color: red; */
    width: 300px;
    height: 110px;

}

.footflex1{
    display: flex;
    justify-content: space-between;
    
}

.a1{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 14px;
        font-style: normal;
    line-height: 20px;
    font-weight: 500;
    text-decoration: underline;
    width: 150px;
    height: 20px;
    /* margin-right: 50px; */
}

.b1{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 14px;
        font-style: normal;
        text-decoration: underline;
    line-height: 20px;
    font-weight: 500;
    width: 170px;
    height: 20px;
    margin-right: 20px;
}

.c1{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 14px;
        font-style: normal;
        text-decoration: underline;
    line-height: 20px;
    font-weight: 500;
    width: 300px;
    height: 20px;
    margin-right: 70px;
}
.d1{
    color: rgb(0, 51, 153);
        font-family: helvetica, arial;
        font-size: 12px;
        font-style: normal;
        /* text-decoration: underline; */
    line-height: 17px;
    font-weight: 400;
    width: 200px;
    height: 20px;
    margin-top: 10px;
    margin-right: 80px;
}